<%- include('partials/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Products</h1>
            <a href="/admin/products/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Add Product</a>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
            </div>
            <% if (getdata.mess.length > 0) { %>
                <div class="alert alert-success mt-2">           
                    <%=getdata.mess%>                
                </div>                
            <% } %>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Category Name</th> 
                                <th>Created At</th> 
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Image</th>  
                                <th>Category Name</th> 
                                <th>Created A</th> 
                                <th>Action</th>                             
                            </tr>
                        </tfoot>
                        <tbody>                            
                            <% getdata.products.forEach((product,index)=>{%>
                                <tr>
                                    <td>
                                        <%=index+1%>
                                    </td>
                                    <td>
                                        <%=product.name%>
                                    </td>
                                    <td>
                                        <img src="/<%=product.img%>" width="100" />
                                    </td>
                                    <td>
                                        <%=product.cat_id[0].name%>
                                    </td>
                                    <td>
                                        <%=product.createat.getDate()%>/<%=product.createat.getMonth()%>/<%=product.createat.getFullYear()%>
                                    </td>
                                    <td>
                                        <!-- <a class="btn btn-sm btn-primary"  href="#">View</a> -->
                                        <a class="btn btn-sm btn-info" href="<%= `/admin/products/${product._id}` %>">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="<%= `/admin/products/delete/${product._id}` %>">Delete</a>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<%- include('partials/footer.ejs') %>