<%- include('partials/userheader.ejs') %>

    <h1>Name : <%=sess.userdata.firstName%></h1> 
    <h1>Email : <%=sess.userdata.email%></h1>
    <h1>Mobile Number : <%=sess.userdata.mobile%></h1>
    

     <!--  <button><a href="/user/product">Product Listing </a></button>
    <button><a href="/user/fileUpload">Upload Multiple files  </a></button>
    <button><a href="/user/passwordChange">Change Password  </a></button>
    <button><a href="/user/getaddress">Get user Address </a></button>
    <button><a href="/user/getmap">Map</a></button>
    
    <button><a href="/logout">Logout</a></button> -->

   

    <%- include('partials/footer.ejs') %>